.page-header {
  color: var(--black);
  background-color: var(--white);
  border-left: solid 0.25rem;
  border-right: solid 0.25rem;
  h1 {
    font-size: var(--step-5);
  }
  p {
    font-size: var(--step--1);
  }
}
