.post-content {
  ul,
  ol {
    padding-left: 2rem;
  }
  h2,
  h3,
  h4 {
    display: inline-block;
  }
}

.heading-anchor a {
  text-decoration: none;
  &:after {
    color: var(--gray);
    content: '#';
    margin-left: 1ch;
    text-decoration: underline 0.2rem;
  }
  @media (hover: hover) {
    &:hover:after {
      color: var(--white);
    }
  }
}
