.post-content {
  ul,
  ol {
    padding-left: 2rem;
  }
  h2,
  h3,
  h4 {
    display: inline-block;
  }
}

.heading-anchor {
  position: relative;
}

.heading-anchor a {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  color: inherit;
}

.heading-anchor a:before {
  position: absolute;
  right: 100%;
  display: block;
  content: '#';
  margin-right: 0.2em;
  visibility: hidden;
  opacity: 1;
}

.heading-anchor:hover a:before {
  visibility: visible;
}
