.site-header {
  padding-top: 3rem;
  div {
    margin-top: 0.5rem;
    align-self: center;
  }

  svg {
    place-self: center;
  }

  a {
    display: inline-block;
  }

  nav {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
    }
    .active {
      text-decoration: underline 0.2rem;
      text-underline-offset: 0.65rem;
    }
  }
}
