.site-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  div {
    padding-top: 0.5rem;
    align-self: center;
    max-width: 275px;
  }

  a {
    display: inline-block;
  }

  img {
    width: 100%;
    height: auto;
  }

  nav {
    align-self: center;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      li {
        margin-top: 0;
      }
    }
    // .active {
    //   text-decoration: underline 0.2rem;
    //   text-underline-offset: 0.65rem;
    // }
  }
}

.skip-to-main {
  position: absolute;
  background-color: var(--black);
  transform: translateY(-500%);
  transition: transform 325ms ease-in;
  left: 2rem;
  &:focus {
    transform: translateY(0);
    top: 2rem;
  }
}
