:root {
  --black: #040e14;
  --white: #faf8f5;
  --gray: #faf8f5bc;
  --cyan: #00ffff;
  --gold: #ffd700;
  --springgreen: #00ff7f;
  --hotpink: #ff69b4;
  --indigo: #4b0082;
  --orangered: #ff4500;
  --blue: #0000ff;
  --measure: 60ch;
  --gutter: 1rem;
  --vertical-space: 2rem;

  --step--2: clamp(0.69rem, calc(0.65rem + 0.25vw), 0.96rem);
  --step--1: clamp(0.83rem, calc(0.77rem + 0.34vw), 1.2rem);
  --step-0: clamp(1rem, calc(0.91rem + 0.46vw), 1.5rem);
  --step-1: clamp(1.2rem, calc(1.08rem + 0.63vw), 1.88rem);
  --step-2: clamp(1.44rem, calc(1.27rem + 0.84vw), 2.34rem);
  --step-3: clamp(1.73rem, calc(1.51rem + 1.11vw), 2.93rem);
  --step-4: clamp(2.07rem, calc(1.78rem + 1.47vw), 3.66rem);
  --step-5: clamp(2.49rem, calc(2.1rem + 1.93vw), 4.58rem);
}
