@use './reset';
@use './settings';
@use './typography';
@use './cube';

html {
  background: var(--black);
}

body {
  margin: 1rem;
  color: var(--white);
  background-color: var(--black);
  border: solid 0.2rem;
  font-size: var(--step-0);
  font-family: AlteHaasGroteskRegular, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

main {
  min-height: 75vh;
}

footer {
  color: var(--black);
  background-color: var(--white);
  padding-top: 0.5rem;
  padding-bottom: var(--vertical-space);
  border-left: solid 0.2rem;
  border-right: solid 0.2rem;
  border-bottom: solid 0.2rem;
  ul {
    word-break: break-all;
  }
  a {
    color: var(--black);
  }
}

a {
  color: var(--white);
  text-decoration: underline 0.2rem;
  text-underline-offset: 0.45rem;
  @media (hover: hover) {
    &:hover {
      text-underline-offset: 0.65rem;
    }
  }
}

p,
ul,
ol,
blockquote,
code {
  line-height: 1.5;
}

ul,
ol {
  > * + * {
    margin-top: 1rem;
  }
}

blockquote {
  font-style: italic;
  font-size: var(--step-1);
  max-width: 100ch;
  padding-left: 2rem;
  border-left: solid 0.2rem;
}

pre code {
  display: block;
  overflow-x: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

:focus {
  outline: solid;
  text-decoration: none;
}

::selection {
  background-color: var(--gold);
  color: var(--black);
}
