---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PubDate from '../../components/PubDate.astro';

export async function getStaticPaths({}) {
  const allPosts = await Astro.glob('../posts/*.md');

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={`Posts tagged with "${tag}"`}>
  <article class="wrapper">
    <div class="flow">
      <ul class="flow | page-list" role="list">
        {
          posts.map((post) => (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
              <p>
                <PubDate pubDate={post.frontmatter.pubDate} />
              </p>
            </li>
          ))
        }
      </ul>
      <p><a href="/tags">View all tags</a></p>
    </div>
  </article>
</BaseLayout>
