---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = `Not Found`;
---

<BaseLayout pageTitle={pageTitle}>
  <article class="wrapper">
    <div class="flow">
      <h2>404</h2>
      <p>Go <a href="/">home</a>.</p>
      <p>To-do: make this page more useful.</p>
    </div>
  </article>
</BaseLayout>
