---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = `Hi, I'm Jon`;
---

<BaseLayout pageTitle={pageTitle}>
  <article class="wrapper">
    <div class="flow">
      <p>
        I'm interested in writing for the web as a ux writer & technical writer,
        front-end web development, design, & accessibility. I also like to
        collect punk records & get outside as often as possible, preferably on a
        bike or a trail.
      </p>
      <p>
        This site isn't tracking you, but you can subscribe to the <a
          href="/rss.xml">RSS feed</a
        > if you'd like to track me.
      </p>
    </div>
  </article>
</BaseLayout>
