---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = `Hi, I'm Jon`;
---

<BaseLayout pageTitle={pageTitle}>
  <article class="flow | wrapper">
    <p>
      I'm interested in writing for the web as a ux writer & technical writer,
      front-end web development, design, and accessibility. I also like to
      collect punk records and get outside as often as possible, preferably on a
      bike or a trail.
    </p>
    <p>
      This site isn't tracking you. Subscribe to the <a href="/rss.xml"
        >RSS feed</a
      > if you'd like to keep up.
    </p>
  </article>
</BaseLayout>
