---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Links';
---

<BaseLayout pageTitle={pageTitle}>
  <article class="wrapper | flow">
    <section class="card" aria-label="A card with links to social sites">
      <h2>Social</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum optio
        eligendi id sed repellat, eaque quis praesentium.
      </p>
      <ul>
        <li>
          <a href="mailto:joncoleman.me@protonmail.com">Email</a>
        </li>
        <li>
          <a href="https://hachyderm.io/@z336">Mastodon</a>
        </li>
      </ul>
    </section>
    <section class="card" aria-label="A card with links to my projects">
      <h2>Projects</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum optio
        eligendi id sed repellat, eaque quis praesentium.
      </p>
      <ul>
        <li>
          <a href="https://coyelloyd.com">coyelloyd.com</a>
        </li>
        <li>
          <a href="https://thefinalvoid.com">thefinalvoid.com</a>
        </li>
        <li>
          <a href="https://github.com/z336">GitHub</a>
        </li>
      </ul>
    </section>
  </article>
</BaseLayout>
