---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Links';
---

<BaseLayout pageTitle={pageTitle}>
  <article class="wrapper | post-list">
    <ul class="flow">
      <li><a href="https://duckduckgo.com">A Category</a></li>
      <li><a href="https://duckduckgo.com">Another Category</a></li>
      <li><a href="https://duckduckgo.com">Yet Another Category</a></li>
      <li><a href="https://duckduckgo.com">One More</a></li>
    </ul>
  </article>
</BaseLayout>
