---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Links';
---

<BaseLayout pageTitle={pageTitle}>
  <article class="flow | wrapper | post-content">
    <p>Places you can find me online.</p>
    <h2>Social</h2>
    <ul>
      <li>
        <a href="mailto:joncoleman.me@protonmail.com">Email</a>
      </li>
      <li>
        <a href="https://hachyderm.io/@z336">Mastodon</a>
      </li>
    </ul>
    <h2>Projects</h2>
    <ul>
      <li>
        <a href="https://coyelloyd.com">coyelloyd.com</a>
      </li>
      <li>
        <a href="https://thefinalvoid.com">thefinalvoid.com</a>
      </li>
      <li>
        <a href="https://github.com/z336">GitHub</a>
      </li>
    </ul>
  </article>
</BaseLayout>
