---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Links';
---

<BaseLayout pageTitle={pageTitle}>
  <article class="flow | wrapper">
    <p>Here are links to things all kinds of things.</p>
    <h2>Writers</h2>
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
    <h2>Punk Rock</h2>
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
    <h2>Web Dev</h2>
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
    <h2>Politics</h2>
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
  </article>
</BaseLayout>
