---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Links';
---

<BaseLayout pageTitle={pageTitle}>
  <article class="wrapper | grid">
    <section class="box | links">
      <div class="flow">
        <h2>Social</h2>
        <p>Ways to find me around the internet!</p>
        <ul>
          <li>
            <a href="mailto:joncoleman.me@protonmail.com">Email</a>
          </li>
          <li>
            <a href="https://hachyderm.io/@z336">Mastodon</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="box | links">
      <div class="flow">
        <h2>Projects</h2>
        <p>Places to find work I've done!</p>
        <ul>
          <li>
            <a href="https://coyelloyd.com">coyelloyd.com</a>
          </li>
          <li>
            <a href="https://thefinalvoid.com">thefinalvoid.com</a>
          </li>
          <li>
            <a href="https://github.com/z336">GitHub</a>
          </li>
        </ul>
      </div>
    </section>
  </article>
</BaseLayout>
