---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Links';
---

<BaseLayout pageTitle={pageTitle}>
  <article class="wrapper | grid">
    <div class="box">
      <span>grid</span>
      <ul>
        <li><a href="https://duckduckgo.com">A Link</a></li>
        <li><a href="https://duckduckgo.com">Another Link</a></li>
        <li><a href="https://duckduckgo.com">Final Link</a></li>
      </ul>
    </div>
    <div class="box">
      <span>grid</span>
      <ul>
        <li><a href="https://duckduckgo.com">A Link</a></li>
        <li><a href="https://duckduckgo.com">Another Link</a></li>
        <li><a href="https://duckduckgo.com">Final Link</a></li>
      </ul>
    </div>
    <div class="box">
      <span>grid</span>
      <ul>
        <li><a href="https://duckduckgo.com">A Link</a></li>
        <li><a href="https://duckduckgo.com">Another Link</a></li>
        <li><a href="https://duckduckgo.com">Final Link</a></li>
      </ul>
    </div>
    <div class="box">
      <span>grid</span>
      <ul>
        <li><a href="https://duckduckgo.com">A Link</a></li>
        <li><a href="https://duckduckgo.com">Another Link</a></li>
        <li><a href="https://duckduckgo.com">Final Link</a></li>
      </ul>
    </div>
    <div class="box">
      <span>grid</span>
      <ul>
        <li><a href="https://duckduckgo.com">A Link</a></li>
        <li><a href="https://duckduckgo.com">Another Link</a></li>
        <li><a href="https://duckduckgo.com">Final Link</a></li>
      </ul>
    </div>
    <div class="box">
      <span>grid</span>
      <ul>
        <li><a href="https://duckduckgo.com">A Link</a></li>
        <li><a href="https://duckduckgo.com">Another Link</a></li>
        <li><a href="https://duckduckgo.com">Final Link</a></li>
      </ul>
    </div>
  </article>
</BaseLayout>
