---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Projects';
---

<BaseLayout pageTitle={pageTitle}>
  <article class="wrapper">
    <ul class="flow | page-list" role="list">
      <li><a href="https://duckduckgo.com">joncoleman.me</a></li>
      <li><a href="https://duckduckgo.com">coyelloyd.com</a></li>
      <li><a href="https://duckduckgo.com">thefinalvoid.com</a></li>
      <li><a href="https://duckduckgo.com">bloomerang</a></li>
    </ul>
  </article>
</BaseLayout>

<script></script>
