---
import BaseLayout from '../layouts/BaseLayout.astro';
import PubDate from '../components/PubDate.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'Writing';
---

<BaseLayout pageTitle={pageTitle}>
  <article class="wrapper">
    <ul class="flow | page-list" role="list">
      {
        allPosts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
            <p>
              <PubDate pubDate={post.frontmatter.pubDate} />
            </p>
          </li>
        ))
      }
    </ul>
  </article>
</BaseLayout>
