---
import BaseLayout from '../layouts/BaseLayout.astro';
import Posts from '../components/Posts.astro';
// import PubDate from '../components/PubDate.astro';

// const allPosts = await Astro.glob('../pages/posts/*.md');
// const allPostsSorted = allPosts.sort(
//   (a, b) =>
//     new Date(b.frontmatter.pubDate).valueOf() -
//     new Date(a.frontmatter.pubDate).valueOf()
// );
// const allPostsSortedAndSliced = allPostsSorted.slice(0, 3);

const pageTitle = 'Writing';
---

<BaseLayout pageTitle={pageTitle}>
  <article class="wrapper">
    <Posts />
    <!-- <ul class="flow | page-list" role="list">
      {
        allPostsSorted.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
            <p>
              <PubDate pubDate={post.frontmatter.pubDate} />
            </p>
          </li>
        ))
      }
    </ul> -->
  </article>
</BaseLayout>
