---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'Writing';

function dateFormatter(pubDate) {
  const rawDate = new Date(pubDate);
  const date = rawDate.toLocaleDateString('en-us', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
  });
  return date;
}
---

<BaseLayout pageTitle={pageTitle}>
  <article class="wrapper">
    <ul class="flow | page-list" role="list">
      {
        allPosts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
            <p>{dateFormatter(post.frontmatter.pubDate)}</p>
          </li>
        ))
      }
    </ul>
  </article>
</BaseLayout>
