<footer>
  <div class="wrapper | flow">
    <div class="box | contact">
      <ul>
        <li>
          <a href="mailto:joncoleman.me@protonmail.com"
            >joncoleman.me@protonmail.com</a
          >
        </li>
        <li>
          <a href="https://hachyderm.io/@z336">@z336@hachyderm.io</a> on Mastodon
        </li>
        <li><a href="https://github.com/z336">z336</a> on GitHub</li>
        <li><a href="/rss.xml">RSS feed</a></li>
      </ul>
    </div>
    <p>
      This site was built with <a href="https://astro.build/">Astro</a> & <a
        href="https://sass-lang.com/">Sass</a
      > with lots of inspiration from <a href="https://cube.fyi/">CUBE CSS</a> &
      <a href="https://every-layout.dev/">Every Layout</a>.
    </p>
  </div>
</footer>
