<footer>
  <article class="wrapper">
    <div class="box | footer">
      <div class="flow">
        <p>
          This site was built with <a href="https://astro.build/">Astro</a> & <a
            href="https://sass-lang.com/">Sass</a
          > with lots of inspiration from <a href="https://cube.fyi/"
            >CUBE CSS</a
          >
          &
          <a href="https://every-layout.dev/">Every Layout</a>.
        </p>
      </div>
    </div>
  </article>
</footer>
