---
const pathname = new URL(Astro.request.url).pathname;
---

<ul>
  <li><a class={pathname === '/' ? 'active' : ''} href="/">Home</a></li>
  <li>
    <a class={pathname === '/writing' ? 'active' : ''} href="/writing"
      >Writing</a
    >
  </li>
  <li>
    <a class={pathname === '/projects' ? 'active' : ''} href="/projects"
      >Projects</a
    >
  </li>
  <li>
    <a class={pathname === '/links' ? 'active' : ''} href="/links">Links</a>
  </li>
</ul>
