---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<ul>
  <li><a class={currentPath === '' ? 'active' : ''} href="/">Home</a></li>
  <li>
    <a class={currentPath === 'writing' ? 'active' : ''} href="/writing"
      >Writing</a
    >
  </li>
  <li>
    <a class={currentPath === 'projects' ? 'active' : ''} href="/projects"
      >Projects</a
    >
  </li>
  <li>
    <a class={currentPath === 'links' ? 'active' : ''} href="/links">Links</a>
  </li>
</ul>
