---
const { pageTitle, pubDate } = Astro.props;

const getPubDate = pubDate != undefined || null ? true : false;
---

<header class="page-header">
  <div class="wrapper">
    <h1>{pageTitle}</h1>
    {getPubDate ? <p>{pubDate}</p> : ''}
  </div>
</header>
