---
import logo from '/images/logo.svg';
import Navigation from './Navigation.astro';
---

<header class="grid | wrapper | site-header">
  <div>
    <a href="/" tabindex="-1">
      <img src={logo} alt="Jon Coleman logo" />
    </a>
  </div>

  <nav>
    <Navigation />
  </nav>
</header>
